@media only screen and (min-width: 1200px){
  .abantecart-widget-container .abantecart_button {
   font-size:30px;
 }
  }
  @media only screen and (min-width: 960px) and (max-width: 1200px){
  .abantecart-widget-container .abantecart_button {
   font-size:24px;
 }
  }
  @media only screen and (min-width: 768px) and (max-width: 960px){
  .abantecart-widget-container .abantecart_button {
   font-size:20px;
 }
  }

.abantecart-widget-container{
}

.abantecart-widget-container .abantecart_product{
	width: 100%;
	height: 100%;
	
}

.abantecart-widget-cart{
	position: fixed;
	right: 0;
	top: 80px;
	width: 100px;
	height: 100px;
	background-color: white;
	overflow: auto;
    visibility: visible;
    background: transparent url(//shop.newpharmcompany.com/storefront/view/default/image/shoppingbag_icon_N.png) no-repeat;
    background-size: 80px;
    z-index: 20000;
	transition: all 200ms ease;
}
.abantecart-widget-cart:hover {
	position: fixed;
	right: 0;
	top: 80px;
	width: 100px;
	height: 100px;
	background-color: white;
	overflow: auto;
    visibility: visible;
	background: transparent url(//shop.newpharmcompany.com/storefront/view/default/image/shoppingbag_icon_H.png) no-repeat;
	background-size: 80px;
    z-index: 20000;
	transition: all 200ms ease;
}
.abantecart-widget-cart .cart_count {
	position: relative;
    top: 0px;
    left: 30px;
    width: 20px;
    text-align: center;
    border-radius: 50px;
    color: #ffffff;
    background-color: #3071a9;
	transition: all 200ms ease;
}
.abantecart-widget-cart .cart_count:hover {
	position: relative;
    top: 0px;
    left: 30px;
    width: 20px;
    text-align: center;
    border-radius: 50px;
    color: #ffffff;
    background-color: #FC6B02;
	transition: all 200ms ease;
}
a.abantecart-widget-cart {
	text-decoration: none;
}

#iframe_loading {
	text-align: center;	
	height: 650px;
	background-color: white;
	overflow: auto;
    background: transparent url(//shop.newpharmcompany.com/storefront/view/default/image/spinner.gif) no-repeat;
	background-position: center;
	z-index: 2000;
}

/**** product ******/
.abantecart_addtocart {
	margin: 0 ;
	overflow: hidden;
	text-align: center;
}
.abantecart-widget-container .abantecart_button {
	background-color: #0B8AD9;
    color: #fff;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    border-color: #ccc;
    box-sizing: border-box;
    background-image: #0B8AD9;
    transition: all 200ms ease;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: visible;
    padding: 5px 5px 5px 5px;
    box-shadow: inset 0 0 0 0 #0071BC;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.abantecart-widget-container .abantecart_button:hover {
  box-shadow: inset -400px 0px 0px #0071BC;
}


/* phone input css*/
.intl-tel-input .country-list{
	z-index: 4 !important;
}