.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  height: 0px;
  width: 0px;
  overflow: hidden;
  border-width: 2px;
  border-color: #AAAFBF;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: transparent;
  clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  right: 50px;
  bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  transition: all .3s ease-in-out;
}
.back-to-top:hover,
.back-to-top:active,
.back-to-top:focus,{
  outline: 0 !important;
}
.back-to-top.show {
  display: block;
  background: white url(../images/arrow%20play.svg) no-repeat center top;
  background-size: cover;
  border-width: 2px;
  border-color: #AAAFBF;
  right: 25px;
  bottom: 120px;
  height: 50px;
  width: 50px;
  visibility: visible;
}
.back-to-top.show:hover {
  background: #fc6b02 url(../images/arrow%20play.svg) no-repeat center bottom;
  background-size: cover;
  border: none;
}
.back-to-top.show:active{
    background: #023859 url(../images/arrow%20play.svg) no-repeat center bottom;
    background-size: cover;
    border: 0;
    transition: none;
}