.hoverlongbar-d { 
  height: 2px;
  box-shadow: inset 0 0 0 0 #023859;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.hoverlongbar-w { 
  height: 2px;
  box-shadow: inset 0 0 0 0 #fff;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.hoverlongbarcontainer-d:hover .hoverlongbar-d { 
  box-shadow: inset -55px 0 0 0 #023859;
}

.hoverlongbarcontainer-w:hover .hoverlongbar-w { 
  box-shadow: inset -55px 0 0 0 #fff;
}
